<div class="cart-layout">
    <%- include('../organisms/home/navbar', {
        cartItemCount: typeof cartItemCount !== 'undefined' ? cartItemCount : 0
    }) %>

    <main class="main-content">
        <%- include('../organisms/cart/cart-container', {
            items: items,
            summary: summary
        }) %>
    </main>

    <%- include('../organisms/footer') %>
</div>
