<button
    type="<%= typeof buttonType !== 'undefined' ? buttonType : 'submit' %>"
    class="action-button <%= classList || '' %>"
    <%= (typeof disabled !== 'undefined' && disabled) ? 'disabled aria-disabled="true"' : '' %>
>
    <%= text %>
</button>
