<button
    type="<%= typeof buttonType !== 'undefined' ? buttonType : 'submit' %>"
    class="action-button <%= classList || '' %>"
    <%= disabled ? 'disabled aria-disabled="true"' : '' %>
>
    <%= text %>
</button>
