<article class="checkout-step">
    <%- include('../../atoms/checkout/step-badge', { number: step.number }) %>
    <div class="checkout-step__body">
        <h2><%= step.title %></h2>
        <p><%= step.description %></p>
    </div>
</article>
